<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>A dating-focused social network</h1>

        <div *ngIf="!(accountService.currentUser$ | async)">
            <p class="lead">Your second half is waiting for you</p>
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Sign Up</button>
                <!-- <button class="btn btn-primary btn-info btn-lg">Learn more</button> -->
            </div>
        </div>

        <div *ngIf="(accountService.currentUser$ | async)">
            <p class="lead">Use the links above to navigate through the website</p>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                <!-- The above params are the params of the app-register ! -->
                <!-- we recieve stuff via [] -->
                <!-- we output stuff via () -->
            </div>
        </div>
    </div>
</div>